import React, {Component} from 'react';
import classes from './{{dashCase name}}.module.css';
import classnames from 'classnames';
{{#if useChannelsService }}
import { ChannelsService, withChannelsService } from '../channels-context';
{{/if}}

export interface {{pascalCase name}}Props {
    className?: string;
{{#if useChannelsService }}
    channelsService: ChannelsService;
{{/if}}
}

interface {{pascalCase name}}State {
}

{{#if useChannelsService }}
export const {{pascalCase name}} = withChannelsService(class extends Component<{{pascalCase name}}Props, {{pascalCase name}}State> {
{{else}}
export class {{pascalCase name}} extends Component<{{pascalCase name}}Props, {{pascalCase name}}State> {
{{/if}}
    state: {{pascalCase name}}State = {}

    render() {
       const { className } = this.props;
        return (
            <div className={classnames(className, classes.container)}>
            </div>
        );
    }
{{#if useChannelsService }}
});
{{else}}
}
{{/if}}
